body{
    background-color: yellow;
}
p {
    font-family: 'Delicious Handrawn', cursive; 
    font-size: 14px;
    color: blueviolet;
}
#Picture1{
    position: absolute;
    top: 75px;
    left: 450px;
    background-color: darkgray;
    padding: 20px;
}
#bkg{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 750;
    width: 450;
    background-color: aqua;

}